* {
    box-sizing: border-box;
    padding: 5;
    margin: 5;
}

body {
    background-color: #565755;
}
/* body div img { 
    display: inline-block;
    height: 200px;
    width: 200px;
   
} */
/* .header-pic {
    /* background-image: "../images/Jose.jpg"; */
    /* display: block; */
    /* flex-wrap: wrap; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 50%; */
/* } */ 
.header div {
    float: right;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: auto;
}

.header {
    padding: 20px;
    font-family: 'Monotype Corsiva', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #66bba3;
    color: #ffffff;}

    .header h1 {
        display: inline-block;
        font-size: 48px;
    }

    .header div ul {
        list-style-type: none;
    }
    
    .header div ul li {
        display: inline-block;
        margin-left: 25px;
    }
    
.pic {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("./images/TokioCityBG.jpeg");
        background-size: cover;
        background-position: center;
        /* display: block;
        height: auto; */
    }
    .information{
        display: flexbox;

    }
    .about-Jose{
        
            margin-bottom: 20px;
            padding: 50px;
            height: 300px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #0072bb;
            color: #ffffff;
            float: left;
            margin-right:1000px;

    }
.jose-pic {
        float: left;
        margin-right: 25px;
        max-height: 225px;
        opacity: .5;

    }

    #about-h2{
        font-weight: bold;

    }
    #about-p{
        font-weight: bold;
    }
    .Work{
        
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #6490abfe;
        color: #ffffff;
        float: left;
        margin: right 30%;
        /* position: relative; */
        /* display: inline-block; */

}
.work-pic {
    float: left;
    margin-right: 25px;
    max-height: 190px;
    transform: rotate(270deg);
    /* background-attachment: fixed; */
    /* background-position: 100%; */
    opacity: .5;
}
#work-p{
    font-weight: bolder;
    font-size: medium;
    position: right;
    top: 10%; 
    right: 10%; 
    /* transform: translate(-50%, -50%);  */
    text-align: right;
}
#about-workh2{
    position: left;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: left;
    color: black;
}

.Contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6490abfe;
    color: #ffffff;
    /* float: left;
    margin: right 30%; */
    float: left;
    margin-right: 1500px;
}

.Contact-pic {
    float: left;
    margin-right: 25px;
    max-height: 190px;
    /* transform: rotate(270deg); */
    /* background-attachment: fixed; */
    /* background-position: 100%; */
    opacity: .5;
}


#Contact-h2{
    position: left;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: left;
    color: black;
}
